@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Liberty Table top</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">This is a website to check the best tables for your needs</a>.</p>
</div>
