@model List<Product>

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Product Catalog</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <h1>Our Tables Collection</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price ($)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
